{% include 'base.html' %}
{% include 'navigation.html' %}

{% block content %}
{% if error == "no" %}
<script>
    alert('Record salvat cu succes!');
    window.location = "{% url 'view_doctor' %}"
</script>
{% endif %}
{% if error == "yes" %}
<script>
    alert('Recordul nu a putut fi salvat! Vă rugam mai încercați o data.');
</script>
{% endif %}
<div class="container">
    <h2 class="text-center">Adaugă un doctor</h2>
    <form method="POST">
        {% csrf_token %}
        <label>Numele Doctorului</label>
        <input type="text" class="form-control" name="name">
        <label>Telefonul Mobil</label>
        <input type="text" class="form-control" name="mobile">
        <label>Specialitatea</label>
        <input type="text" class="form-control" name="special">

        <input type="submit" value="Trimitere" class="form-control btn btn-primary">
    </form>
</div>
{% endblock content %}
{% include 'footer.html' %}
