{% include 'base.html' %}
{% include 'navigation.html' %}
{% block content %}

{% if error == "no" %}
<script>
    alert('Autentificare cu succes!');
    window.location = "{% url 'dashboard' %}"
</script>
{% endif %}
{% if error == "yes" %}
<script>
    alert('Autentificare invalidă! Mai încearcă o dată.');
</script>
{% endif %}
<div class="container">
    <h2 class="text-center">Autentificare Admin</h2>
    <form method="POST">
        {% csrf_token %}
        <label>Numele de utilizator</label>
        <input type="text" class="form-control" name="uname">
        <label>Parola</label>
        <input type="password" class="form-control" name="pwd">

        <input type="submit" value="Autentificare" class="form-control btn btn-primary">
    </form>
</div>
{% endblock content %}
{% include 'footer.html' %}



