<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}">Sistemul de Management al Spitalului</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">

      {% if not request.user.is_staff %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Acasă <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">Despre noi</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'admin_login' %}">Autentificare</a>
      </li>
      {% endif %}
      {% if request.user.is_staff %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard' %}">Bord</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Doctori
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'view_doctor' %}">Afișare Doctori</a>
          <a class="dropdown-item" href="{% url 'add_doctor' %}">Adăugare Doctor</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Pacienți
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'view_patient' %}">Afișare Pacienți</a>
          <a class="dropdown-item" href="{% url 'add_patient' %}">Adăugare Pacient</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Programări
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'view_appointment' %}">Afișare Programări</a>
          <a class="dropdown-item" href="{% url 'add_appointment' %}">Adăugare Programare</a>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'admin_logout' %}">Deconectare</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
