{% include 'base.html' %}
{% include 'navigation.html' %}
{% block content %}
<div>
    <h2>Afișare Programări</h2>
    <table id="example" class="table table-hover">
        <thead>
            <tr>
                <th>Id-ul Programării</th>
                <th>Numele Doctorului</th>
                <th>Numele Pacientului</th>
                <th>Data</th>
                <th>Ora</th>
                <th>Șterge</th>
            </tr>
        </thead>
        <tbody>
            {% for i in apt %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.doctor.name}}</td>
                <td>{{i.patient.name}}</td>
                <td>{{i.date}}</td>
                <td>{{i.time}}</td>
                <td><a href="{% url 'delete_appointment' i.id %}"
                    onclick="return confirm('Sunteți siguri că vreți să ștergeți acest record?')" class="btn btn-danger">Șterge</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
{% include 'footer.html' %}
