{% include 'base.html' %}
{% include 'navigation.html' %}
{% block content %}
<div>
    <h2>Afișare Doctori</h2>
    <table id="example" class="table table-hover">
        <thead>
            <tr>
                <th>Id-ul Doctorului</th>
                <th>Numele</th>
                <th>Telefonul Mobil</th>
                <th>Specialitatea</th>
                <th>Șterge</th>
            </tr>
        </thead>
        <tbody>
            {% for i in doc %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.name}}</td>
                <td>{{i.mobile}}</td>
                <td>{{i.special}}</td>
                <td><a href="{% url 'delete_doctor' i.id %}"
                    onclick="return confirm('Sunteți siguri că vreți să ștergeți acest record?')" class="btn btn-danger">Șterge</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
{% include 'footer.html' %}
